<div class="center-text">
	<h1>Learn Ruby on Rails</h1>
	<hr class="divider">
	<h3><strong>At the programming tutorials hub<a href="http://www.youmix.me"> Youmix.me</a> developed by me !</strong></h3>
	<hr class="divider">
	<p>Other very good resources are, <strong>Michael Hartl</strong> and or<strong> MackenzieChild</strong></p>
	<p>
		For the the intellectual mind,<a href="https://www.railstutorial.org/"> Michael Hartl</a> | or try
		<a href="https://mackenziechild.me/"> Superman MackenzieChild !</a>	
	</p>
	<hr class="divider">
</div>